.mainDeliveriesBlock {
  width: 40%;

  .orderCard {
    width: 70%;
    height: fit-content;
    border-radius: 12px;

    padding: 20px;
    margin: 20px 0px 20px 0px;

    background-color: #ffffff;
    color: #000;

    .orderCardHeader {
      display: flex;
      justify-content: space-between;
    }
    .orderCardSliderDiv {
      .orderCardSlider {
        cursor: auto;
        pointer-events: none;
      }
    }
    
  }

  .orderCard.active {
    /* background-color: #1b54fe; */
    /* color: #fff; */
  }
}
